.body {
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    font-family: Nunito Sans, Arial, sans serif;
    font-style: normal;
    font-weight: normal;
}

@media screen and (max-width: 1300px) {
    .header-div-nav, .section-4-div-1, .section-5, .section-6-div-img2, .section-6-div-img3, footer {
        display: none;
    }
    .section-1-div {
        padding: 0px;
        align-items: center;
    }
    .section-1-div>h1 {
        font-size: 23px;
    }
    .section-1-div>p {
        font-size: 14px;
    }
    .section-2-div-2, .section-3-form, .section-4-div-Repair {
        flex-direction: column;
        align-items: center;
    }
    
    .section-4-div-Redecorating, .section-4-div-Overhaul, .section-4-div-Designer {
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .section-5-form {
        margin: 0px;
        align-items: center;
        width: 340px;
        right: 973px;  
    }
    .section-6 {
        background-color: black;
        margin-top: 0px;
    }
}

.button {
    width: 200px;
    height: 51px;
    margin-block: auto;
    background: rgb(227, 184, 115);
    box-shadow: rgb(227 184 115 / 30%) 0px 5px 15px;
    border-radius: 2px;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}

.title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.subtitle {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.header {
    height: 83px;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    background-image: url();
}

.header-div {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    padding: 25px;
}
.header-div__logo {
    color: #E3B873;
}

nav {
    flex-grow: 1;
}
.header-div-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    text-decoration: none;
    color: white;
    font-size: 11px;
    line-height: 15px;
}

.header-div__tel {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    color: #E3B873;
    margin-left: 30px;
}
.header-button {
    border: 0;
    padding: 1px 33px;
    margin-left: 50px;
    width: 161px;
    height: 37px;
    font-size: 11px;
    line-height: 15px;
    font-style: italic;
}

.section-1 {
    position: relative;
    max-width: 100%;
    max-height: 707px;
}

.section-1_img_2 {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
}
.section-1-div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    margin-top: 91px;
    flex-basis: 100px;
    padding: 100px 553px 1px 132px;
    
}
.section-1-div>h1 {
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px;
}

.section-1-div>h1>span {
    color: #E3B873;
}
.section-1-div>p {
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.section-1-button__1 {
    font-style: italic;
}
.section-1-button__2 {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #FFFFFF;
    font-style: italic;
}

.section-2 {
    background: #131313;  
}
.section-2-div-ul {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    margin: -5px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
}
.section-2-div-2 {
    display: flex;
    justify-content: space-between;
    padding: 111px 138px 411px 131px;
    flex-wrap: 1;
}
.section-2-div-4, .section-2-div-4__1 {
    display: flex;
    justify-content: space-between;
}
.section-2_img {
    max-width: 678px;
    max-height: 475px
}

.section-2-div-2>div>p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.section-2-div-4>div>h3, .section-2-div-4__1>div>h3 {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.section-2-div-4>div>span, .section-2-div-4__1>div>span {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.section-3 {
    margin-top: -350px;
}
.section-3-div>h3 {
    color: #FFFFFF;
}
.section-3-div-h3-div {
    display: flex;
}
.section-3-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3-div__Group {
    margin-top: -350px;
    cursor: pointer;
}
.section-3-div__Rectangle {
    margin-top: 150px;
}
.section-3-div>p {
    margin-left: 100px;
    margin-right: 100px;
}

.section-3-form {
    display: flex;
    border: 0px;
}

.label {
    cursor: pointer;
}
.checkbox {
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before {
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}

.section-4-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-4-images {
    display: flex;
    margin-bottom: 20px;
}
.section-4-div-Repair {
    display: flex;
    justify-content: space-between;
}
.section-4-div-Redecorating-div-1 {
    margin-top: -90px;
    background-color: #FFFFFF;
}
.section-4-div-Redecorating-div-1>span {
    margin-left: 33px;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.section-4-div-Redecorating-div-2 {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 228px;
    height: 54px;
    text-align: center;
}
.section-4-div-Overhaul {
    margin-left: 30px;
}
.section-4-div-Overhaul-div-1 {
    margin-top: -90px;
    background-color: #FFFFFF;
}
.section-4-div-Overhaul-div-1>span {
    margin-left: 33px;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.section-4-div-Overhaul-div-2 {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 228px;
    height: 54px;
    text-align: center;
}
.section-4-div-Designer {
    margin-left: 30px;
}
.section-4-div-Designer-div-1 {
    margin-top: -90px;
    background-color: #FFFFFF;
}
.section-4-div-Designer-div-1>span {
    margin-left: 33px;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.section-4-div-Designer-div-2 {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 228px;
    height: 54px;
    text-align: center;
}
.section-4-div-1 {
    margin-top: 90;
}
    
.section-4-div-images-form {
    display: flex;
    justify-content: center;
    margin-top: -550px;
}

.section-4-div-1-form {
    background-color: black;
    color: #FFFFFF;
    margin-left: 100px;
}
.section-4-form-button {
    width: 213px;
    height: 51px;
    margin-left: 140px;
    background: #E3B873;
    color: #FFFFFF;
    cursor: pointer;
}
.section-4-div-1>img {
    margin-left: 750px;
}
.section-5 {
    margin-top: 50px; 
}
.section-5-div-1 {
    text-align: center;
}
.section-5-div-2 {
    display: flex;
    justify-content: space-between;
}

.section-6 {
    margin-top: 200px;
}
.section-6-div__h3 {
    margin-top: -720px;
}
.section-6>div>h3 {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #E3B873;
    
}
.section-6-div {
    text-align: center; 
}

.section-6-div-img3 {
    margin-top: -1000px;
}
.section-5-form {
    width: 883px;
    right: 445px;
    background-color: black;
    color: #FFFFFF;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 200px;
    margin-top: -1000px;
    text-align: center;
}
.section-5-form-div {
    display: flex;
    justify-content: space-between;
    text-align: start;

}
.section-5-form-lable {
    text-align: start;
}
.section-5-form>h3 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.footer {
    background-color: black;
    max-width: 1440px;
    margin-top: 810px;
   
}